/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

.header {
  background-image: url("../images/soup.jpg");
  height: 40rem;
  background-size:75rem;
  background-repeat: no-repeat;
  background-position: bottom;
  
  color: white;
  text-align: center;
  font-size: 5rem;
  line-height: 35rem;
}

.padding {
  padding-left: 8rem;
  padding-right: 8rem;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

h2 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: 2.5rem;
  margin-bottom: 2rem;

}

.ingredients ul {
  list-style-type: "-";
  margin-left: -1.7rem;
  line-height: 1.4rem;
}

.directions ol {
  line-height: 1.7rem;
  margin-left: -1.5rem;
  counter-reset: list;
}
.directions ol > li {
  list-style: none;
}
.directions ol > li:before {
  content: counter(list) ") ";
  counter-increment: list;
  

}